<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e14.gpsapp.meterdown"
    android:versionCode="4"
    android:versionName="Pheonix" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:configChanges="orientation"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="MeterDown" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <activity
            android:name=".settings"
            android:screenOrientation="portrait"
            android:label="MeterDown" >
            <intent-filter>
                <action android:name="e14.gpsapp.meterdown.settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>